<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
 <!--   <add name="DB" connectionString="Data Source=.;Initial Catalog=collegeconnect;integrated security=true"-->
       <add name="DB" connectionString="Data Source=vegetablefirst.db.9933629.hostedresource.com; Initial Catalog=vegetablefirst; User ID=vegetablefirst; Password=##;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    
    <compilation debug="true" targetFramework="4.0"/>

  

  </system.web>
</configuration>